{
    ViewBag.Title = "Confirmare Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Vă mulțumim pentru confirmarea mailului. @Html.ActionLink("Apăsați aici pentru a vă conecta.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
