@{
    ViewBag.Title = "Confirmare Parolă uitată";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Vă rugăm verificați e-mailul pentru noua parolă.
    </p>
</div>
	
