@{
    ViewBag.Title = "Confirmare resetare parolă";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
       Parola a fost resetată. @Html.ActionLink("Apăsați aici pentru a vă conecta", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
