@model AirLearn.Models.IndexViewModel
@{
    ViewBag.Title = "Cont";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Schimbați setările contului</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Parolă:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Schimbă parola", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
