@{
    ViewBag.Title = "";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<style>

</style>
<div class="row">
    <div class="col-md-3">
        <div id="leftpanel">
            <p>&nbsp;&nbsp;Categorii</p>
            <ul class="categories">
                <li><span><a href="#">Teoria grafurilor</a></span><hr /></li>
                <li><span><a href="#">Grile grafuri</a></span><hr /></li>
                <li><span><a href="#">Teachers</a></span><hr /></li>
                <li><span><a href="#">Descriptions</a></span><hr /></li>
                <li><span><a href="#">Administrators</a></span><hr /></li>
                <li><span><a href="#">Basic Information</a></span><hr /></li>
                <li><span><a href="#">Vacancies</a></span><hr /></li>
                <li class="last"><span><a href="#">Calendar</a></span><hr /></li>
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <div id="rightpanel">
            <br />
            <img src="~/Content/Images/p.jpg" height="180px" width="500" />
            <br />Teoria grafurilor
        </div>
    </div>

</div>